$blue-lt: #184c4f;
$blue: #184c4f;
$blue-ap: #6c98e1;
$blue-ap-dk: #6c90e9;

$primary: #cc6119;
$primary_dk: #994111;

$listing_four_dk: #232628;

$orange-dk: #b6d15c;
$yellow: #b6d15c;

$red-alert: #ff0000;

$black: #000000;
$black-near: #121e24;
$black-19: #191919;
$black-33: #333333;

$dark-equip: #1d1f1f;
$dark: #121e24;
$white: #ffffff;

$orange: #ffb129;
$blue-dark-d-t: #3350b8;

$gray-59: #595959;
$gray-77: #777777;
$gray-80: #808080;
$gray-88: #888888;
$gray-96: #969696;
$gray-aa: #aaaaaa;
$gray-dd: #dddddd;
$gray-e5: #e5e5e5;

$bg: #f5f7f7;

$listing_first: #153e4d;
$listing_second: #1bc744;
$listing_second_h: #169f36;

$listing_green_dk: #153e4d;
$listing_green: #1bc744;
$listing_green_dark: #169f36;
$listing_grey_dk: #5b6771;
$listing_blue_lt: #4e90cc;
$listing_blue_dk: #11323e;

$aircraft_primary: #4c94fa;
$aircraft_primary_dk: #3370e9;
$aircraft_secondary: #ff9420;
$aircraft_secondary_dk: #cc761a;
$aircraft_text: #242426;
$aircraft_text_light: #798494;
$aircraft_bg: #2c313e;
$aircraft_bg_light: #f3f5f7;
$aircraft_border: #d8e5e6;
$aircraft_gray_filter: #bfc2c8;
$aircraft_title: #2c3648;
$aircraft_blue_dark: #142e5d;
$aircraft_blue_dark_opacity: rgba(44,49,62,0.5);
$aircraft_blue_dark_opacity_2: rgba(44,49,62,0.9);

.stm-orange {
    color: $orange;
}