@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    &.page-template-home-service-layout {
        .button_3d:hover .default-state {
            transform: none;
        }

        .button_3d:hover .active-state {
            top: 0;
            transform: none;
        }
    }
}

@media (max-width: 1740px) {

    body.stm-boxed .stm-counter .stm-counter-label .h4 {
        padding-right: 35px;
    }

    .stm-counter .stm-counter-label {
        text-align: center;
    }
    .stm-counter .stm-counter-circle {
        float: none !important;
        margin: 0 auto !important;
    }
}

@media (max-width: 1430px) {
    .stm-fullwidth-row-no-paddings > .wpb_column.vc_col-has-fill:nth-child(2) > .vc_column-inner,
    .stm-fullwidth-row-no-paddings > .wpb_column.vc_col-has-fill:first-child > .vc_column-inner {
        padding-right: 30px !important;
        padding-left: 30px !important;
    }
}

@media (min-width: 1200px) {
    body.stm-boxed .stm-fullwidth-row-no-paddings > .wpb_column.vc_col-has-fill:nth-child(2) > .vc_column-inner,
    body.stm-boxed .stm-fullwidth-row-no-paddings > .wpb_column.vc_col-has-fill:first-child > .vc_column-inner {
        margin: 0 -55px;
    }

    .lg-text-center {
        text-align: center;
    }
    .lg-text-left {
        text-align: left;
    }
    .lg-text-right {
        text-align: right;
    }
    .lg-dp-in {
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
    }

    .stm-slider-nice-height {
        min-height: 600px !important;
    }
}

@media (max-width: 1140px) {
    .stm-fullwidth-row-no-paddings > .wpb_column.vc_col-has-fill:nth-child(2) > .vc_column-inner,
    .stm-fullwidth-row-no-paddings > .wpb_column.vc_col-has-fill:first-child > .vc_column-inner {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {

    #top-bar .header-top-bar-socs {
        margin-left: 30px;
    }
    #top-bar .header-login-url {
        margin-left: 30px;
    }
    #top-bar .top-bar-info li {
        margin-left: 30px;
    }

    .md-text-center {
        text-align: center;
    }
    .md-text-left {
        text-align: left;
    }
    .md-text-right {
        text-align: right;
    }
    .md-dp-in {
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
    }
}

@media (max-width: 1025px) and (min-width: 992px) {
    .stm-service-contact-us-form-wrapper {
        padding-bottom: 47px !important;
    }
    .sm-xs-text-center {
        text-align: center !important;
    }
    .stm-counter .stm-counter-label {
        padding: 0 10px !important;
    }
}

@media (max-width: 1025px) and (min-width: 768px) {
    .listing-car-items .listing-car-item .listing-car-item-inner {
        max-width: 320px;
    }
    .listing-car-items .listing-car-item .listing-car-item-meta {
        padding-top: 15px;
        padding-bottom: 8px;
    }
    .listing-car-items .listing-car-item .listing-car-item-meta .car-meta-bottom ul li {
        margin-top: 10px;
    }
}

@media (max-width: 1025px) {
    h2 br {
        display: none;
    }
    .stm-our-team {
        max-width: inherit !important;
    }
    .stm-image-links .stm-image-link .inner img {
        padding-top: 5px !important;
        max-height: 100%;
        filter: grayscale(0%) !important;
        -webkit-filter: grayscale(0%) !important;
    }
    .header-service .header-service-right .service-header-appointment {
        margin: 7px 10px 0 10px !important;
    }
    .header-service.header-service-sticky {
        position: absolute !important;
        padding-top: 22px !important;
        background: transparent !important;
    }
    .header-service.header-service-sticky .bloglogo img {
        width: 100% !important;
        margin-top: 0 !important;
    }
    .media-carousel-item .stm_fancybox:after {
        display: none !important;
        opacity: 0 !important;
    }

    .stm-fullwidth-with-parallax {
        background-attachment: scroll;
        background-size: cover;
    }
    .icon-box .icon {
        display: inline-block;
        float: none;
        margin-bottom: 15px;
        min-height: 54px;
    }
    .listing-car-items .listing-car-item .car-title {
        margin-top: 13px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .listing-car-items .listing-car-item .listing-car-item-meta .car-meta-bottom ul li {
        margin-right: 10px;
    }
    .single-car-prices {
        margin-top: 25px;
    }
    .stm-vc-single-car-sidebar-right,
    .stm-single-car-side {
        margin-left: 0 !important;
    }
    .stm-vc-single-car-content-left {
        padding-right: 15px !important;
    }
    .stm-single-car-content {
        padding-right: 0 !important;
    }
    .single-car-prices .h4 {
        font-size: 18px;
    }
    .classic-filter-row .sidebar-entry-header {
        padding: 26px 40px 21px 108px;
        margin: 0 -40px 25px;
    }
    .classic-filter-row .filter-sidebar {
        padding-right: 40px;
        padding-left: 40px;
    }
    .single-car-actions > ul li {
        display: none;
    }
    .single-car-actions > ul li:first-child {
        display: block;
    }
    .single-car-actions > ul li:nth-child(2) {
        display: block;
    }
    .single-car-actions > ul li:nth-child(3) {
        display: block;
    }
    .listing-list-loop .content .meta-middle .meta-middle-unit {
        display: none;
    }
    .listing-list-loop .content .meta-middle .meta-middle-unit:first-child {
        display: block;
    }
    .listing-list-loop .content .meta-middle .meta-middle-unit:nth-child(2) {
        display: block;
    }
    .listing-list-loop .content .meta-middle .meta-middle-unit:nth-child(3) {
        display: block;
    }
    .listing-list-loop .content .meta-middle .meta-middle-unit:nth-child(4) {
        display: block;
        border-right: none;
    }
    .classic-filter-row .sidebar-entry-header i {
        left: 39px;
    }
    .classic-filter-row .filter-price {
        margin-top: 25px;
    }
    .stm-adaptive-tablet-margins .stm-icon-box-adaptive-style-three {
        padding: 0 15px;
    }
    .stm-adaptive-tablet-margins .stm-icon-box-adaptive-style-three .icon-box .icon-text h6.title {
        min-height: 36px;
    }
    .header-nav {
        position: static !important;
    }
    .header-nav.header-nav-transparent {
        position: static;
        margin-bottom: 0;
        background: #eaedf0;
    }
}

@media (max-width: 1024px) {
    .header-service .header-menu > li.menu-item-has-children > ul {
        visibility: visible;
        top: 100%;
        opacity: 1;
        position: relative;
        background: transparent;
        box-shadow: none;

    }

    .header-service .header-menu > li.menu-item-has-children > ul > li {
        text-transform: uppercase;

        > a {
            font-weight: 500;
        }
    }

    &.page-template-home-service-layout {
        .service-mobile-menu-trigger {
            display: block !important;
        }

        .header-service {
            .header-menu {
                display: none;
                position: absolute;
                top: 100%;
                width: 100%;
                padding: 15px !important;
                margin: 15px -15px 0;
                background-color: #eaedf0;

                > li {
                    display: block;
                    text-align: left;

                    a {
                        color: #191d21;
                    }

                    > ul {
                        > li {
                            &.current-menu-item {
                                > a {
                                    &:after {
                                        content: '\f107';
                                    }
                                }
                            }

                            > ul{
                                position: relative;
                                left: 10%;
                                visibility: visible;
                                opacity: 1;
                                z-index: 1;
                                background: transparent;
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .sidebar-area-vc {
        margin-left: 30px;
    }

    body .stm_listing_icon_filter.stm_listing_icon_filter_12 .stm_listing_icon_filter_single {
        width: 16.6%;
    }
}

@media (max-width: 960px) {
    .nav-search {
        display: none !important;
    }
    .header-help-bar-trigger {
        display: block;
    }
    .header-help-bar {
        display: block;
        position: relative;
        top: 52px;
    }
    .header-help-bar ul {
        display: none;
        position: absolute;
        margin-right: -47px;
        padding-right: 5px;
        width: 200px;
        top: 100%;
        right: 100%;
        background-color: #eaedf0;
    }
    .header-help-bar ul li {
        float: right;
        text-align: right;
        width: 100%;
    }
    .header-help-bar ul li a {
        background-color: transparent !important;
    }
    .header-help-bar ul li i {
        display: inline-block;
        min-width: 30px;
    }
    .header-help-bar ul li.mobile-search {
        display: block;
        visibility: visible;
        padding: 5px 12px 20px 16px;
    }
    .header-help-bar ul li.mobile-search #searchform .search-input {
        border-radius: 0;
        height: 30px;
        line-height: 30px;
        padding: 5px 10px !important;
        font-size: 13px;
        box-shadow: none;
        background-color: #fff;
    }
    .header-help-bar ul li.mobile-search #searchform .search-submit {
        height: 30px;
        width: 30px;
        font-size: 13px;
        background-color: transparent;
        color: #6c98e1 !important;
    }
}

@media (min-width: 992px) {
    .header-service .header-menu {
        display: block;
    }

    .lg-md-text-center {
        text-align: center;
    }

    .lg-md-text-left {
        text-align: left;
    }

    .lg-md-text-right {
        text-align: right;
    }

    .lg-md-dp-in {
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
    }

    .md-mg-rt {
        margin-right: -6px;
    }
    .md-mg-lt {
        margin-left: -6px;
    }
    .stm-vc-single-car-content-left {
        padding-right: 42px !important;
    }
    .stm-vc-single-car-content-right {
        padding-left: 42px !important;
    }
    .stm-vc-single-car-sidebar-left > .wpb_wrapper {
        margin-right: -30px;
    }
    .stm-vc-single-car-sidebar-right > .vc_column-inner > .wpb_wrapper {
        margin-left: -30px;
    }
    .mobile-menu-holder {
        display: none !important;
    }
    .stm-carousel-fullwidth .media-carousel-item {
        max-width: inherit;
        width: auto;
        margin: 0 auto;
    }
}

@media (max-width: 920px) {
    #request-trade-in-offer .modal-dialog {
        width: inherit !important;
    }
    .stm-sell-a-car-form .form-upload-files .stm-unit-photos {
        width: 100%;
    }

    .stm-sell-a-car-form input[type="submit"] {
        margin-bottom: 20px;
    }

    .stm-sell-a-car-form .form-content .contact-details {
        padding: 15px;
    }

    .stm-sell-a-car-form .form-content .vehicle-condition .vehicle-condition-unit label {
        display: block;
    }

    .stm-car-print i {
        top: 9px;
    }

    .stm-car-carousels.stm-listing-car-gallery {
        .car-action-unit > i {
            position: absolute !important;
            left: 8px !important;
            top: 50% !important;
            margin-top: -1px;
            font-size: 17px;
            color: #6c98e1;
            transform: translateY(-50%);
        }
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .vc_col-sm-12 .stm-service-layout-info-box {
        width: 50%;
        max-width: 50%;
    }
    .vc_col-sm-12 .stm-service-layout-info-box .inner {
        max-width: 350px;
        margin: 0 auto;
    }
    .vc_col-sm-12 .stm-service-layout-info-box:first-child {
        float: left;
    }
    .vc_col-sm-12 .stm-service-layout-info-box:nth-child(2) {
        float: right;
    }
    .vc_col-sm-12 .stm-service-layout-info-box:nth-child(3) {
        float: right;
    }
    body.page-template-home-service-layout .stm-carousel-brands .brands-carousel-item .brands-carousel-item-inner {
        padding: 25px !important;
    }
    #advantages .stm-service-layout-icon-box {
        float: left;
        width: 50%;
    }
    #advantages .stm-service-layout-icon-box .inner {
        margin-bottom: 30px !important;
    }
    .stm-counter .stm-counter-circle {
        width: 140px !important;
        height: 140px !important;
        line-height: 134px !important;
    }
    .stm-counter .stm-counter-label .h4 {
        font-size: 20px !important;
        line-height: 26px !important;
    }
    .stm-carousel-fullwidth-wrapper .media-carousel-item {
        max-width: 500px !important;
    }


    #header .logo-main {
        float: none;
        margin-bottom: 25px;
    }
    #header .logo-main a {
        display: inline-block;
        max-width: 100%;
    }
    .header-main .header-top-info {
        display: block;
        float: left;
    }
    .header-main .header-top-info .header-main-socs {
        display: none;
        margin-left: 0;
    }
    .header-main .header-top-info .header-main-socs ul li {
        float: right;
        margint-left: 0;
    }
    .header-main .header-top-info .header-main-socs ul li:first-child {
        margin-left: 10px;
    }
    .header-menu li a {
        font-size: 15px;
    }
    .car-listing-tabs-unit .row-4 .col-md-3:nth-child(4n+1) {
        float: left;
        clear: none;
    }
    .car-listing-tabs-unit .row-4 .col-md-3:nth-child(3n+1) {
        clear: both;
    }
    .footer_widgets_wrapper {
        padding-top: 50px !important;
    }
    .cols_4 aside {
        width: 50%;
    }
    .cols_4 aside:first-child .widget-wrapper {
        margin-top: 0 !important;
    }
    .cols_4 aside:nth-child(2) .widget-wrapper {
        margin-top: 0 !important;
    }
    .cols_4 aside .widget-wrapper {
        padding-top: 0 !important;
        border-top: none !important;
        margin-top: 30px !important;
    }
    .cols_4 aside:nth-child(2n+1) {
        clear: both;
    }
    .cols_4 aside:nth-child(4n+1) {
        clear: none;
    }
    .listing-car-items .listing-car-item .car-title {
        margin-top: 13px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .listing-car-items .listing-car-item .listing-car-item-meta .car-meta-bottom ul li {
        margin-right: 10px;
    }
    .main-menu .header-menu > li:first-child {
        margin-left: 0 !important;
    }
    .main-menu .header-menu > li > a {
        padding: 0 19px;
    }
    body.page-template-coming-soon-php .coming-soon-header {
        padding-top: 55px;
    }
    body.page-template-coming-soon-php #wrapper #main {
        top: 85px;
    }
    .stm-modern-filter-unit-images .stm-single-unit-image {
        text-align: center;
    }
    .stm-modern-filter-unit-images .stm-single-unit-image .image {
        max-width: 140px;
    }
    .stm-modern-filter-others {
        text-align: left;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
    .car-listing-tabs-unit .car-listing-row .col-md-3:last-child {
        display: block;
    }
    .car-listing-tabs-unit .car-listing-row .col-md-3:nth-last-child(2) {
        display: block;
    }
    .listing-car-items .listing-car-item .listing-car-item-inner {
        max-width: 320px;
    }
    .listing-car-items .listing-car-item .listing-car-item-meta {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .listing-car-items .listing-car-item .listing-car-item-meta .car-meta-bottom ul li {
        margin-top: 12px;
    }
    #car-listing-tab-search .icon-button {
        width: 100%;
    }
    #car-listing-tab-search .icon-button i {
        position: relative;
        left: 0;
        top: 2px;
        margin-right: 5px;
    }
    .testimonial-unit .image {
        max-width: 39%;
    }

    .sm-text-center {
        text-align: center;
    }
    .sm-text-left {
        text-align: left;
    }
    .sm-text-right {
        text-align: right;
    }
    .sm-dp-in {
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
    }
}

@media (max-width: 991px) {
    .header-service .header-service-right {
        overflow: visible;
    }
    .header-service .header-menu {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 15px !important;
        margin: 15px -15px 0;
        background-color: #eaedf0;
    }
    .header-service .header-menu li {
        display: block;
        margin-bottom: 0;
        width: 100%;
    }
    .header-service .header-menu li a {
        text-align: left;
        color: #191d21;
    }
    .header-service .header-menu li a:hover {
        background-color: transparent;
        color: #22b7d2;
    }
    .header-service .header-menu li.active a {
        color: #ecbf24 !important;
        background-color: inherit;
    }
    .wpb_wrapper.wpb_tour_tabs_wrapper.stm_tabs_style_service .wpb_tab.ui-tabs-panel {
        padding: 50px 0 30px 0 !important;
    }
    .stm-image-links .stm-image-link .inner img {
        filter: grayscale(0%) !important;
        -webkit-filter: grayscale(0%) !important;
    }
    img {
        -webkit-transform: translateZ(0);
    }
    .testimonials-carousel .owl-controls {
        display: none;
    }
    .testimonial-unit .image {
        margin-right: 20px !important;
    }
    .wpb_column .wpb_wrapper.wpb_tour_tabs_wrapper.stm_tabs_style_service .wpb_tab.ui-tabs-panel {
        padding-bottom: 0 !important;
    }

    #top-bar .header-top-bar-socs {
        margin-left: 15px;
    }
    #top-bar .header-login-url {
        margin-left: 15px;
    }
    #top-bar .top-bar-info li {
        margin-left: 15px;
    }
    .hidden-info {
        display: none;
    }
    .header-main .header-top-info .header-main-socs {
        display: none;
    }
    .header-main .header-main-phone .phone .phone-number {
        color: #fff !important;
    }
    .car-listing-tabs-unit .car-listing-top-part {
        padding-top: 15px;
    }
    .found-cars-cloned {
        display: none;
    }
    .car-listing-row .listing-car-item-meta .car-title {
        margin-top: 10px;
        min-height: 36px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .icon-box {
        padding-right: 25px;
    }
    .icon-box .icon {
        display: inline-block;
        float: none;
        margin-top: 0 !important;
        margin-bottom: 15px !important;
        min-height: 54px;
    }
    .special-offers .title {
        padding: 0;
    }
    .special-offers .title .all-offers {
        display: none;
    }
    .stm-contact-us-form-wrapper {
        padding: 40px 30px 10px;
    }
    .stm_tabs_style_1 .wpb_tab .icon,
    .stm_tabs_style_2 .wpb_tab .icon {
        min-height: 30px !important;
    }
    .wpb_tour_tabs_wrapper.stm_tabs_style_2 .wpb_tab.ui-tabs-panel {
        padding: 15px !important;
    }
    .compare-title {
        font-size: 20px;
        line-height: 24px;
    }
    .stm-call-to-action-1 .stm-call-action-left {
        width: 70%;
    }
    .stm-fullwidth-with-parallax {
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
    .icon-box .icon-text .content {
        font-size: 12px;
    }
    .stm-icon-box-adaptive-style-three .icon-box {
        padding-left: 0 !important;
    }
    .logo-main {
        position: relative;
        padding-right: 60px;
        min-height: 35px;
    }
    .stm-our-team {
        max-width: inherit;
    }
    .vc_toggle .vc_toggle_icon {
        top: 0;
    }
    .single-car-prices {
        margin-top: 25px;
    }
    .single-regular-sale-price table td {
        text-align: center;
    }
    .single-regular-sale-price table td .regular-price-with-sale {
        text-align: center;

        strong {
            display: block;
        }
    }
    .stm-working-days .title {
        padding-left: 0;
    }
    .stm-working-days .title > i {
        display: none;
    }
    table.stm-working-days-table > tbody > tr td.day-label {
        font-size: 10px;
    }
    table.stm-working-days-table > tbody > tr td.day-value {
        font-size: 10px;
    }
    .post-grid-single-unit .content .title-relative {
        min-height: 86px;
    }
    .post-grid-single-unit .content {
        padding: 20px 15px 10px 10px;
    }
    .sidebar-sm-mg-bt {
        margin-bottom: 25px;
    }
    #request-trade-offer-form,
    #get-car-price-form,
    #request-test-drive-form {
        position: relative;
        max-width: 580px;
        width: auto;
        margin: 0 auto;
        top: inherit;
        left: inherit;
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        z-index: 9999;
    }
    .stm-compact-sidebar .text-image {
        margin-left: 10px;
    }
    .stm-compact-sidebar .content {
        padding-left: 10px;
    }

    .sm-xs-text-center {
        text-align: center !important;
    }
    .sm-xs-text-left {
        text-align: left !important;
    }
    .sm-xs-text-right {
        text-align: right !important;
    }
    .sm-xs-dp-in {
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
    }

    .listing-cars-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        > .dp-in {
            display: block;
            overflow: hidden;

            .listing-car-item {
                display: block;
                overflow: hidden;
                width: 100%;
            }
        }
    }
}

@media (max-width: 830px) {
    .header-login-url {
        display: none;
    }
}

@media (max-width: 769px) {
    body .stm_listing_icon_filter.stm_listing_icon_filter_12 .stm_listing_icon_filter_single {
        width: 25%;
    }
}

@media (max-width: 768px) {

    #animated-blog-wrapper {
        .intro-effect-fadeout {
            .title {
                padding: 0 30px !important;
            }
        }
    }

    .listing-cars-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        > .dp-in {
            display: block;
            overflow: hidden;
            width: 50%;

            .listing-car-item {
                display: block;
                overflow: hidden;
                width: 100%;
                padding: 0 15px;

                .listing-car-item-inner {
                    max-width: inherit;
                }
            }
        }
    }

    &.page-template-home-service-layout {
        .stm-service-bookly-form {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        .header-service {
            .header-menu {
                > li {
                    > ul {
                        > li {
                            &.current-menu-item {
                                > a {
                                    &:after {
                                        content: '\f107';
                                    }
                                }
                            }

                            > ul{
                                position: relative;
                                left: 10%;
                                visibility: visible;
                                opacity: 1;
                                z-index: 1;
                                background: transparent;
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {

    .blog{
        .col-md-3.hidden-xs {
            display: block !important;
            float: left;
            margin-top: 30px !important;
        }
    }

    .stm-counter {
        margin-bottom: 30px;
    }
    .stm_automanager_features_list .stm_automanager_single {
        width: 100%;
    }
    .stm-sell-a-car-form .disclaimer {
        width: 100%;
        padding-top: 10px;
    }
    .form-upload-files {
        .stm-unit-photos {
            width: 100% !important;
            margin-right: 0 !important;
            margin-bottom: 20px;
        }
        .stm-unit-url {
            width: 100% !important;
            margin-right: 0 !important;
        }
    }

    ul.list-style-2 {
        margin-bottom: 30px !important;
    }

    .single-listings ul.list-style-1 {
        margin-bottom: 30px !important;
    }

    .header-service .header-service-right .service-header-appointment {
        display: none;
    }
    .stm-image-links-4 .stm-image-link {
        width: 50% !important;
    }
    .page-template-home-service-layout .stm-slider-button i {
        display: none !important;
    }
    .page-template-home-service-layout .stm-slider-button {
        padding: 16px 30px;
    }
    .testimonial-unit .image {
        float: none !important;
    }

    .xs-text-center {
        text-align: center;
    }
    .xs-text-left {
        text-align: left;
    }
    .xs-text-right {
        text-align: right;
    }
    .xs-dp-in {
        display: inline-block;
        max-width: 100%;
        vertical-align: top;
    }

    .header-main .logo-main {
        margin-bottom: 20px;
        width: 100%;
        float: none !important;
    }
    .header-main .header-top-info {
        width: 100%;
        float: none !important;
    }
    .header-main .header-top-info .pull-right {
        float: none !important;
        width: 100% !important;
    }
    .header-main .header-top-info .pull-right .header-secondary-phone {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: left;
    }
    .header-main .header-top-info .pull-right .header-main-phone {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .stm-listing-tabs ul li {
        display: block;
        margin-right: 0;
    }
    .wpb_wrapper .icon-box {
        padding-left: 0 !important;
        margin-left: 0 !important;
        overflow: hidden;
        .icon {
            float: left;
        }
        .icon-text {
            float: left;
            width: calc(100% - 101px);
        }

        &.no-icon {
            padding-left: 30px !important;

            .icon-text {
                width: 100%;
            }
        }
    }
    .stm-icon-box-adaptive-style-one .wpb_wrapper .icon-box {
        padding-left: 15px !important;
    }
    .stm-contact-us-form-wrapper {
        padding: 40px 30px 10px;
    }
    .stm-contact-us-form-wrapper .form-group {
        padding-left: 0 !important;
        margin-right: 0 !important;
    }
    .stm-contact-us-form-wrapper .col-md-5 .contact-us-submit, .stm-contact-us-form-wrapper .col-md-5 .form-group {
        margin-left: 0 !important;
    }
    .footer_widgets_wrapper {
        padding-top: 25px;
    }

    .cols_4 aside, .cols_3 aside, .cols_2 aside, .cols_1 aside {
        width: 100%;
    }

    .cols_4 aside:first-child .widget-wrapper,
    .cols_3 aside:first-child .widget-wrapper,
    .cols_2 aside:first-child .widget-wrapper,
    .cols_1 aside:first-child .widget-wrapper {
        margin-top: 0 !important;
    }

    .cols_4 aside .widget-wrapper,
    .cols_3 aside .widget-wrapper,
    .cols_2 aside .widget-wrapper,
    .cols_1 aside .widget-wrapper {
        padding-top: 0 !important;
        border-top: none !important;
        margin-top: 30px !important;
        margin-bottom: 0 !important;
    }

    .cols_4 aside:nth-child(2n+1) {
        clear: both;
    }
    .cols_4 aside:nth-child(4n+1) {
        clear: none;
    }
    #sb_instagram.sbi_col_4 #sbi_images .sbi_item {
        width: 25% !important;
    }
    #sb_instagram .sbi_photo {
        max-height: 80px !important;
    }
    .compare-title {
        margin-top: 0;
    }
    .compare-car-visible {
        display: block;
    }
    .car-listing-row.stm-car-compare-row {
        display: none;
    }
    .stm-compare-row .col-xs-4 {
        width: 100%;
    }
    .mpg-mobile-selector {
        min-width: 100%;
    }
    .header-address,
    .header-secondary-phone {
        display: none;
    }
    h1, .h1 {
        font-size: 36px;
    }
    h2, .h2 {
        font-size: 26px;
    }
    h3, .h3 {
        font-size: 20px;
    }
    h4, .h4 {
        font-size: 18px;
    }
    h5, .h5 {
        font-size: 16px;
    }
    h6, .h6 {
        font-size: 14px;
    }
    .car-listing-row .wp-post-image {
        width: 100%;
        height: auto;
    }
    .car-listing-main-part {
        padding-top: 20px;
    }
    .tab-search-title {
        font-size: 20px;
    }
    .tab-search-title i {
        top: 0;
    }
    #car-listing-tab-search .icon-button {
        width: 100%;
    }
    #car-listing-tab-search .icon-button i {
        position: relative;
        left: 0;
        top: 2px;
        margin-right: 5px;
    }
    .stm-icon-box-adaptive-style-one .wpb_wrapper .icon-box {
        margin: 0 -15px !important;
        padding-left: 40px !important;
    }
    .stm-fullwidth-with-parallax.stm-icon-box-adaptive-style-one {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .icon-box .icon-text .content {
        font-size: 14px;
    }
    .listing-car-items .listing-car-item {
        padding: 0;
    }
    .listing-car-items .listing-car-item .listing-car-item-inner {
        max-width: 290px;
    }
    .listing-car-items .listing-car-item .car-title {
        display: block;
        padding-top: 20px;
        clear: both;
        white-space: normal;
        text-overflow: clip;
    }
    .owl-dots {
        visibility: hidden;
        width: 30px;
        opacity: 0;
    }
    .stm-icon-box-adaptive-style-one .wpb_wrapper .icon-box {
        padding-right: 30px !important;
    }
    .listing-car-items .listing-car-item .price {
        float: left;
    }
    .footer-copyright .xs-pull-left {
        margin-top: 15px;
        float: left !important;
    }
    .col-md-wider-right {
        padding-right: 15px;
        margin-bottom: 15px;
    }
    .col-md-wider-left {
        padding-left: 15px;
    }
    input#stm_filter_max_price {
        margin-top: 15px;
    }
    .stm-car-listing-sort-units .stm-sort-by-options > span {
        display: none;
    }
    .listing-list-loop .content {
        position: relative;
        margin-top: -50px;
        z-index: 20;
    }
    .listing-list-loop .image {
        float: none;
        max-width: 100%;
        margin: 0px;
    }
    .listing-list-loop .content .meta-top .price.discounted-price {
        float: right;
        display: inline-block;
    }
    .listing-list-loop .content .title {
        clear: both;
        display: block;
        padding-top: 30px;
    }
    .stm-call-to-action-1 .stm-call-action-left:after {
        display: none;
    }
    .stm-call-to-action-1 .stm-call-action-left,
    .stm-call-to-action-1 .stm-call-action-left:after {
        background-color: transparent !important;
    }
    .stm-call-to-action-1 .stm-call-action-right {
        width: 100%;
        z-index: -1;
    }
    .stm-call-to-action-1 .stm-call-action-right:after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.5);
    }
    .stm-car-view-more {
        width: 100%;
        text-align: center;
        display: block;
        margin-top: 20px;
    }
    .listing-list-loop .content {
        padding-bottom: 3px;
    }
    .listing-list-loop .content .meta-middle .meta-middle-unit {
        display: block;
        float: none;
        border-right: none;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }
    .listing-list-loop .content .meta-middle .meta-middle-unit:last-child {
        border-bottom: none;
    }
    .listing-list-loop .content .meta-middle .meta-middle-unit.font-exists .meta-middle-unit-top {
        display: inline-block;
    }
    .listing-list-loop .content .meta-middle .meta-middle-unit.font-exists .value {
        display: inline-block;
        padding-left: 5px;
    }
    .listing-list-loop .content .meta-middle .meta-middle-unit .name {
        font-size: 14px;
        text-transform: none;
    }
    .single-car-actions > ul {
        text-align: center;
    }
    .single-car-actions > ul li {
        display: block;
        float: none;
        margin-right: 0;
    }
    .single-car-actions > ul li.certified-logo-2,
    .single-car-actions > ul li.certified-logo-1 {
        padding-top: 15px;
        display: inline-block;
        width: 49%;
    }
    .single-car-actions > ul li.certified-logo-1 {
        padding-left: 15px;
    }
    .single-car-actions > ul li.certified-logo-2 {
        padding-right: 20px;
    }
    .car-action-unit.add-to-compare {
        width: 100%;
        padding-left: 10px;
    }
    .car-action-unit {
        line-height: 36px;
    }
    .car-action-unit > i {
        position: relative;
        top: 1px;
        left: -8px;
    }

    .stm-template-car_dealer {
        .car-action-unit > i.fa-print {
            top: 9px;
        }
    }

    .car-action-unit.add-to-compare.stm-added .stm-show-on-hover {
        padding-left: 10px;
    }
    .car-action-unit.add-to-compare.stm-added .stm-show-on-hover > i {
        position: relative;
        left: -8px;
        top: 1px;
        font-size: 14px;
    }
    .single-add-to-compare .single-add-to-compare-left {
        padding-left: 0;
    }
    .single-add-to-compare .single-add-to-compare-left .add-to-compare-icon {
        display: none;
    }
    .compare-fixed-link {
        display: inline-block;
        float: none !important;
        margin: 0 0 10px;
    }
    .single-add-to-compare {
        padding-top: 0;
    }
    .single-car-actions .stock-num {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .car-action-unit.add-to-compare.disabled:after {
        top: 11px;
    }
    .stm-modern-filter-found-cars {
        float: none;
        padding-bottom: 15px;
    }
    .stm-car-listing-sort-units.stm-modern-filter-actions .stm-sort-by-options {
        float: left;
    }
    .car-action-unit.stm-brochure {
        width: 100%;
    }
    .car-action-unit.stm-brochure > i {
        left: -11px;
        top: 2px;
    }
    .car-action-unit.stm-share {
        width: 100%;
    }
    .car-action-unit.stm-share > i {
        left: -11px;
    }
    .wpb_tour_tabs_wrapper.ui-tabs ul.wpb_tabs_nav > li {
        float: none;
        text-align: center;
    }
    .lists-inline > ul {
        width: 100%;
        margin-bottom: 25px;
    }
    .stm-col-pad-left {
        margin-top: 20px !important;
        padding-left: 15px !important;
    }
    span.vc_tta-title-text {
        margin-left: 0 !important;
    }
    .testimonial-unit .image {
        margin-left: 0;
        margin-bottom: 15px;
    }
    .testimonials-carousel .owl-controls {
        text-align: left;
        position: static;
        margin-top: 15px;
    }
    div.stm_auto_loan_calculator {
        margin-bottom: 25px;
    }
    body.page-template-coming-soon-php .coming-soon-header {
        padding-top: 25px;
    }
    body.page-template-coming-soon-php #wrapper #main {
        position: static;
    }
    body.page-template-coming-soon-php #wrapper #main .stm-coming-soon-centered {
        position: static;
        transform: none;
        padding-top: 30px;
    }
    body.page-template-coming-soon-php #footer-copyright {
        position: static;
    }
    body.page-template-coming-soon-php #wrapper:after {
        display: none;
    }
    body.page-template-coming-soon-php {
        position: relative;
    }
    body.page-template-coming-soon-php:after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }
    body.page-template-coming-soon-php #wrapper #main .stm-coming-soon-centered h1 {
        font-size: 30px;
        line-height: 35px;
    }
    body.page-template-coming-soon-php div.wpcf7 img.ajax-loader {
        display: none;
    }
    .stm-inline-form .wpcf7-form-control-wrap {
        width: 100%;
    }
    .stm-inline-form input[type="submit"] {
        width: 100%;
        margin-top: 15px;
    }
    .post-list-single-item .blog-meta {
        margin-top: 0;
    }
    .post-list-single-item .absoluted-content {
        position: static;
        padding-top: 30px;
        background: #232628;
    }
    .blog-meta .right {
        width: 100%;
        float: left;
    }
    .post-list-single-item .absoluted-content .relatived-content {
        padding-bottom: 15px;
    }
    .post-list-single-item .blog-meta {
        padding-bottom: 15px;
    }
    .blog-meta-bottom .right {
        clear: both;
        float: left;
        margin-top: 20px;
    }
    .stm-author-box .author-image {
        display: none;
    }
    .stm-blog-fullwidth-info .absoluted-content {
        position: static;
        background: #232628;
    }
    .stm-blog-fullwidth-info .absoluted-content .blog-meta {
        margin-top: 30px;
    }
    .stm-blog-fullwidth-info .absoluted-content .title {
        padding-top: 30px;
    }
    .stm-blog-fullwidth-info .absoluted-content .blog-meta {
        padding: 26px 0 25px;
    }
    .error404 #wrapper #main {
        top: 50px;
    }
    .error-header {
        padding: 26px 0;
    }
    .comment .comment-avatar {
        display: none;
    }
    ul.comment-list li ul.children {
        padding-left: 0;
    }
    body.single-post .post-content-vc h4.vc_custom_heading {
        margin-top: 20px !important;
    }
    .post-content blockquote {
        padding-left: 50px;
    }
    .select2-results__options li:active {
        background-color: #f0f2f5;
    }
    #car-listing-tab-search .icon-button {
        padding-left: 20px;
        padding-right: 20px;
    }
    .woocommerce-cart table.cart td.actions .coupon .input-text {
        width: 110px;
    }
    .woocommerce .shop_table.cart .coupon {
        float: none;
    }
    .woocommerce .shop_table.cart .button.update-cart {
        display: block;
        float: none;
        margin-top: 15px;
    }
    .product-name_text {
        margin-top: 0;
    }
    .woocommerce .cart-totals_wrap {
        padding: 18px;
    }
    .woocommerce-cart .cart-collaterals .cart_totals table th {
        padding-right: 10px;
    }
    .woocommerce-cart table.cart img,
    .woocommerce table.shop_table th.product-price,
    .woocommerce td.product-price,
    .woocommerce table.shop_table th.product-quantity,
    .woocommerce td.product-quantity {
        display: none;
    }
    #frontend_customizer_button {
        display: none;
    }
}

@media (max-width: 750px) {
    .header-top-bar-socs {
        display: none;
    }
}

@media (max-width: 610px) {
    .top-bar-info .fancy-iframe {
        display: none !important;
    }
    .stm-call-to-action-1 .stm-call-action-left {
        width: 100%;
        padding: 10px 15px;
    }
    .stm-call-to-action-1 .stm-call-action-left .stm-call-action-image {
        display: none;
    }
    .compare-col-stm-empty .image .stm-icon-add_car {
        margin: -10px 0 0 -13px;
        font-size: 20px;
    }

        #top-bar {
            .top-bar-wrapper {
                .pull-left, .pull-right {
                    float: none !important;
                }
            }
        }
}

@media (max-width: 500px) {

    #animated-blog-wrapper {
        .intro-effect-fadeout {
            .bg-img {
                img {
                    object-fit: cover;
                }
            }

            .title {
                top: 30%;
                padding: 0 30px !important;
            }
        }
    }

    .listing-cars-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        > .dp-in {
            display: block;
            overflow: hidden;
            width: 100%;

            .listing-car-item {
                display: block;
                overflow: hidden;
                width: 100%;
                padding: 0 15px;

                .listing-car-item-inner {
                    max-width: inherit;

                    .car-meta-top {
                        display: flex;
                        flex-direction: row-reverse;
                        flex-wrap: nowrap;
                        align-items: flex-start;

                        .car-title {
                            margin-top: 0;
                            padding-top: 0;
                            -ms-word-wrap: break-word;
                            word-wrap: break-word;
                        }

                        .price {
                            margin-left: 10px;

                            > div {
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    body .stm_listing_icon_filter.stm_listing_icon_filter_12 .stm_listing_icon_filter_single {
        width: 50%;
    }

    .car-listing-modern-grid .stm-isotope-listing-item .image img {
        width: 100%;
    }

    .stm-isotope-sorting .stm-isotope-listing-item .image .image-inner {
        max-width: 100%;
        max-height: inherit;
    }

    .stm-isotope-sorting .stm-isotope-listing-item .image .image-inner img {
        width: 100%;
    }
}

@media (max-width: 440px) {
    .stm-template-car_dealer {
        &.page-template-home-service-layout {
            .stm-service-bookly-form {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }

            .header-service {
                .header-menu {
                    > li {
                        > ul {
                            > li {
                                &.current-menu-item {
                                    > a {
                                        &:after {
                                            content: '\f107';
                                        }
                                    }
                                }

                                > ul{
                                    position: relative;
                                    left: 10%;
                                    visibility: visible;
                                    opacity: 1;
                                    z-index: 1;
                                    background: transparent;
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .car-listing-tabs-unit {
            .car-listing-row {
                .image {
                    max-height: 200px;

                    img {
                        max-height: 200px;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .top-bar-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        li {
            margin: 0 0 5px !important;
        }

        .fancy-iframe {
            display: block !important;
        }
    }

    .woocommerce-message {
        padding: 26px 26px 66px;

        .button {
            top: inherit;
            left: 26px;
            right: inherit;
            bottom: 16px;
            margin-top: 0;
        }
    }

    .stm-compare-row .compare-values .remove-from-compare {
        bottom: 15px;
        opacity: 1;
    }

    .stm_dynamic_listing_filter_without_tabs {
        .tab-content {
            .tab-pane form {
                .stm-filter-tab-selects {
                    .row {
                        flex-direction: column !important;
                        flex-wrap: wrap;

                        .col-md-3 {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    #sb_instagram.sbi_col_4 #sbi_images .sbi_item {
        width: 50% !important;
    }
}

@media (max-width: 375px) {
    #top-bar {
        .top-bar-wrapper {
            .pull-left {
                margin-bottom: 5px;

                .stm-multiple-currency-wrap {
                    margin-left: 0;

                    .select2-container--default {
                        .select2-selection--single {
                            .select2-selection__rendered {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }

            .pull-left, .pull-right {
                clear: both;
            }
        }
    }

    body #wrapper #header .header-listing .listing-menu-mobile-wrapper .stm-opened-menu-listing .top-bar-wrapper .currency-switcher {
        float: none !important;
    }
}