.stm-inventory-no-filter-wrap {
    .stm-isotope-sorting {
        opacity: 1;
        transition: all .2s ease-in-out;

        &.loading {
            opacity: 0.5;
        }

        .listing-list-loop {
            margin-bottom: 30px;

            .image {
                max-width: 280px;
                padding-top: 0;
                margin: 0 21px 0 0;

                .stm-car-medias {
                    right: 0;
                    top: 7px;
                    left: inherit;

                    .stm-listing-photos-unit, .stm-listing-videos-unit {
                        margin-right: 7px;
                    }
                }

                .rmv_txt_drctn {
                    .image-inner {
                        .stm-badge-directory {
                            z-index: 3;
                        }

                        img {
                            z-index: 2;
                            position: relative;
                        }
                    }
                }
            }

            .content {
                .meta-top {
                    margin-bottom: 21px;

                    .price {
                        min-width: 100px;

                        > div {
                            padding: 8px 4px 8px 4px;
                            span {
                                font-size: 20px;
                            }
                        }

                        &:before {
                            left: -5px;
                            transform: skew(-15deg, 0deg);
                        }

                        &.discounted-price {
                            min-height: 49px;

                            &:before {
                                left: -15px;
                                transform: skew(-15deg, 0deg);
                                height: auto;
                                top: 0;
                                bottom: 0;
                            }

                            .regular-price {
                                position: relative;
                                left: -4px;
                                padding: 0 4px 0 0;
                                vertical-align: bottom;
                                font-size: 13px;
                            }

                            .sale-price {
                                position: relative;
                                left: -4px;
                                vertical-align: middle;
                                margin-top: 0;
                                padding: 0 3px 0 5px;

                                .label-price {
                                    max-width: 40px;
                                }
                            }
                        }
                    }

                    .title {
                        padding-top: 0;

                        a {
                            font-size: 20px;

                            .labels {
                                line-height: 12px;
                                margin-bottom: 4px;
                                font-size: 14px;
                                margin-top: -1px;
                            }
                        }
                    }
                }
            }
        }
    }

    .stm_ajax_pagination {
        opacity: 1;
        transition: all .2s ease-in-out;
        margin: 60px 0 80px;

        &.loading {
            opacity: 0.5;
        }
    }

    @media (max-width: 750px) {
        .stm-isotope-sorting {

            .listing-list-loop {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: flex-start;

                .image {
                    flex: 1;
                    max-width: 240px;
                }

                .content {
                    flex: 1;
                    width: 100%;
                    margin-top: 0;

                    .meta-top {
                        margin-bottom: 10px;

                        .title {
                            clear: none;
                        }
                    }

                    .meta-middle {
                        margin-bottom: 5px !important;

                        .meta-middle-row {
                            margin-bottom: 0;
                        }

                        .meta-middle-unit.font-exists {
                            .value {
                                display: block;
                            }
                        }
                    }

                    .meta-bottom {
                        .single-car-actions {
                            ul {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                justify-content: flex-start;

                                li {
                                    .car-action-unit.add-to-compare {
                                        padding-left: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 700px) {
        .stm-isotope-sorting {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 -15px;

            .listing-list-loop {
                flex-direction: column;
                width: 50%;
                padding: 0 15px;
                border-bottom: 0;

                .image {
                    max-width: 100%;
                    width: 100%;
                    margin: 0;
                    flex: inherit;

                    img {
                        width: 100%;
                    }
                }

                .content {
                    flex: 1;
                    width: 100%;
                    margin-top: -38px;
                    border-bottom: 1px solid #ddd;

                    .meta-top {
                        margin-bottom: 10px;

                        .title {
                            padding-top: 20px;
                            clear: both;
                        }
                    }

                    .meta-middle {
                        margin-bottom: 10px !important;

                        .meta-middle-row {
                            margin-bottom: 0;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;

                            .meta-middle-unit {

                                &.meta-middle-divider {
                                    display: none !important;
                                }

                                &.font-exists {
                                    width: auto;
                                    display: flex !important;
                                    flex-direction: row;
                                    flex-wrap: nowrap;
                                    align-items: center;
                                    justify-content: flex-start;

                                    .value {
                                        display: block;
                                        padding-top: 6px;
                                    }
                                }
                            }
                        }
                    }

                    .meta-bottom {
                        .single-car-actions {
                            ul {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                justify-content: flex-start;

                                li {
                                    .car-action-unit.add-to-compare {
                                        padding-left: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 500px) {
        .stm-isotope-sorting {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 -15px;

            .listing-list-loop {
                flex-direction: column;
                width: 100%;
                padding: 0 15px;
                border-bottom: 0;
            }
        }
    }
}