.stm-mm-top-makes-wrap {
    display: block;
    padding: 1px 10px 0;

    .nav {
        border-bottom: 1px solid #dedede;
        margin: 0 0 23px;

        .nav-item {
            border: unset;
            margin-right: 30px;

            .nav-link {
                background: transparent !important;
                border: unset;
                font-size: 14px;
                font-weight: 400;
                color: #153e4d;
                text-align: left;
                padding: 10px 20px 13px 0;

                &:before {
                    content: '';
                    display: block;
                    width: 45px;
                    height: 2px;
                    background: transparent;
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                }
            }

            &.active, &:hover {
                .nav-link{
                    color: #153e4d;

                    &:before {
                        background: #1bc744;
                    }
                }
            }
        }
    }

    .tab-content {
        .stm-mm-vehicles-wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;

            .stm-mm-vehicle {
                display: block;
                width: 23%;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }

                .vehicle-img {
                    display: block;
                    width: 100%;
                    overflow: hidden;
                    position: relative;

                    img {
                        display: block;
                        width: 100%;
                        position: relative;
                        transform: translateZ(0);
                    }

                    .price {
                        display: block;
                        position: absolute;
                        font-size: 12px;
                        font-weight: 700;
                        color: #ffffff;
                        padding: 2px 5px;
                        background: #6d99e2;
                        bottom: 0;
                        left: 10px;
                    }
                }

                .title a{
                    color: #153e4d;
                    font-size: 13px;
                    font-weight: 600;
                    text-transform: uppercase;
                    line-height: 16px;
                    padding: 10px 0 0 10px;
                    background: transparent !important;
                    letter-spacing: 0;

                    &:hover {
                        color: #1bc744;
                    }
                }
            }
        }
    }

    @media (max-width: 780px) {
        .nav {
            .nav-item {
                margin-right: 0;

                .nav-link {
                    padding: 15px 20px 10px 0;
                }
            }
        }
    }

    @media (max-width: 550px) {
        .nav {
            .nav-item {
                .nav-link {
                }
            }
        }

            .tab-content {
                .stm-mm-vehicles-wrap {
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .stm-mm-vehicle {
                        width: 48%;
                        margin: 0 0 20px!important;
                    }
                }
            }
    }
}